<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!--type="full class name,dll name" 其中，右键view in object browser查看class-->
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key ="config1" value="39"/>
    <add key ="name"   value="hahah"/> 
  </appSettings>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <containers>
      <container name ="defaultContainer">
        <register type="xiaocao.test.IDBAcess,xiaocao.test" mapTo="xiaocao.test.SQLDataAccess,xiaocao.test"/>
      </container>
    </containers>
  </unity>
</configuration>

